* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
#data .article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e5e5;
}
#data .article .author {
    color: #b00020;
    font-weight: bold;
}
